@font-face {
    font-family: TencentSansW3;
    font-style : normal;
    font-weight: 400;
    src        : url(./fonts/TencentSansW3.d9647e80.ttf) format("truetype")
}

@font-face {
    font-family: TencentSansW7;
    font-style : normal;
    font-weight: 400;
    src        : url(./fonts/TencentSansW7.a14cc1d8.ttf) format("truetype")
}

html {
    font-size: 16px;
}


body {
    margin                 : 0;
    padding                : 0;
    font-family            : TencentSansW7, Segoe UI, MFDianHei-Extra-light, Microsoft YaHei UI Light, "sans-serif" !important;
    background-color       : #fff;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering         : optimizeLegibility;
}

button {
    outline    : none;
    border     : none;
    background : 0 0;
    cursor     : pointer;
    font-family            : TencentSansW7, Segoe UI, MFDianHei-Extra-light, Microsoft YaHei UI Light, "sans-serif" !important;

    &:focus {
        outline: none;
    }
}