.party-main {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 100vw;
    height         : 100vh;
    overflow       : hidden;

    .party-bg {
        width : 100%;
        height: 100%;

    }

    .header-bg {
        position         : relative;
        width            : 100%;
        aspect-ratio     : 1080/711;
        background-image : url('../../public/assets/question-header.png');
        background-repeat: no-repeat;
        background-size  : cover;

        .countdown-text {
            text-align: center;
            color     : #fff;
            position  : absolute;
            top       : 79%;
            left      : 0%;
            z-index   : 30;
            width     : 100%;
            height    : 9%;
            font-size : 1.35rem;
            text-shadow:
                0px 0px 0 #ff88c8,
                /* 左上角的粉色阴影 */
                0px -1px 0 #ff88c8,
                /* 右上角的粉色阴影 */
                0px 0px 0 #ff88c8,
                /* 左下角的粉色阴影 */
                0px 0px 0 #ff88c8;
            letter-spacing: 0.1em;

            /* 右下角的粉色阴影 */
            @media screen and (min-width:750px) {
                font-size: 2rem;
            }
        }

        .countdown-container {
            position: absolute;
            top     : 93%;
            left    : 5.9%;
            z-index : 30;
            width   : 89.5%;
            height  : 6%;
        }
    }


    .question-body {
        width            : 100%;
        box-sizing       : border-box;
        position         : relative;
        background-image : url('../../public/assets/question-floor.jpg');
        background-repeat: no-repeat;
        background-size  : cover;

        .form-section {
            padding: 2vh 7.5vw 5vh 4.5vw;

            @media screen and (min-width:750px) {
                padding: 1vh 7.5vw 0 4.5vw;
            }

            @media screen and (max-height:675px) {
                padding: 1vh 7.5vw 3vh 4.5vw;
            }

            .question-section {
                margin-bottom: 3vh;
            }

            .question-tag {
                font-size: 1.2rem;
                color    : #333;
                padding  : 0 0 2% 2vw;

                @media screen and (max-height:675px) {
                    font-size: 1rem;
                    padding  : 0 0 1vw 2vw;
                }
            }

            .question-title {
                font-size: 1.3rem;
                color    : #333;
                padding  : 2% 0 0% 2vw;

                @media screen and (max-height:675px) {
                    font-size: 1.1rem;
                    padding  : 0 0 0 2vw;
                }
            }

            /* 选项按钮样式 */
            .option-section {

                .option-button {
                    box-sizing       : border-box;
                    width            : 100%;
                    aspect-ratio     : 938/164;
                    margin           : auto;
                    margin-bottom    : 2vh;
                    border           : none;
                    cursor           : pointer;
                    transition       : background-color 0.3s ease-in-out;
                    position         : relative;
                    background-image : url('../../public/assets/btn-A.png');
                    background-repeat: no-repeat;
                    background-size  : cover;
                    z-index          : 6;

                    @media screen and (min-width:750px) {
                        width: 100%;
                    }

                    @media screen and (max-height:675px) {
                        width: 90%;
                    }

                    .option-name {
                        position : absolute;
                        top      : 35%;
                        left     : 50%;
                        transform: translate(-50%, -35%);
                        font-size: 1.3rem;
                        z-index  : 20;
                    }
                }
            }

        }


        .submit-button-container {
            box-sizing       : border-box;
            width            : 100%;
            aspect-ratio     : 1080/236;
            background-image : url('../../public/assets/btn-bg.png');
            background-repeat: no-repeat;
            background-size  : cover;
            position         : relative;

            .submit-button {
                display          : block;
                height           : 70%;
                aspect-ratio     : 994/176;
                cursor           : pointer;
                position         : absolute;
                top              : -10%;
                left             : 50%;
                transform        : translateX(-50%);
                transition       : background-image 0.3s ease-in-out;
                background-color : #9899af;
                background-image : url('../../public/assets/btn-submit.png');
                background-repeat: no-repeat;
                background-size  : 100% auto;

                &.selected {
                    background-image: url('../../public/assets/select-submit.png');
                }
            }


        }

        &#near {
            .form-section {
                padding: 2vh 7.5vw 3vh 4.5vw;

                .question-section {
                    margin-bottom: 2vh;
                }

                .question-tag {
                    font-size: 1.1rem;

                    @media screen and (max-height:675px) {
                        font-size: 1rem;
                        padding  : 0 0 1vw 2vw;
                    }
                }

                .question-title {
                    font-size: 1.2rem;

                    @media screen and (max-height:675px) {
                        font-size: 1.1rem;
                        padding  : 0 0 0 2vw;
                    }
                }

                .option-section {

                    .option-button {
                        width        : 90%;
                        margin-bottom: 1.5vh;

                        .option-name {}
                    }
                }
            }

        }

        .logo {
            position    : fixed;
            top         : 95%;
            left        : 50%;
            transform   : translate(-50%);
            width       : 15%;
            aspect-ratio: 184/80;
            z-index     : 35;
        }
    }





    // .wait-bg {
    //     width               : 100%;
    //     aspect-ratio        : 1080/2340;
        // background-image : url('https://tsg-image-1258344700.cos-internal.ap-shanghai.tencentcos.cn/assets/wait-bg.jpg');
    //     background-image    : url('../../public/assets/wait-bg.jpg');
    //     background-repeat   : no-repeat;
    //     background-size     : cover;
    //     background-color    : #5d60d5;
    // }
    .result-header {
        width            : 100%;
        aspect-ratio     : 1080/777;
        background-image : url('../../public/assets/result-header.jpg');
        background-repeat: no-repeat;
        background-size  : cover;

    }

    .wait-bg {
        width : 100%;
        height: calc(100vh - 72vw);
        background-image : url('../../public/assets/result-bg1.jpg');
        background-repeat: no-repeat;
        background-size  : cover;
        position         : relative;

        // @media screen and (min-width:750px) {
        //     height: calc(100vh - 45vw);
        // }

        // @media screen and (max-height:675px) {
        //     height: calc(100vh - 65vw);
        // }



        .blue-bg {
            width            : 100%;
            aspect-ratio     : 458/550;
            background-image : url('../../public/assets/result-dian.png');
            background-repeat: no-repeat;
            background-size  : cover;
            position         : absolute;
            z-index          : 1;
            top              : 5vh;
            left             : 0;
        }

        .dialog-bg {
            position         : absolute;
            left             : 0;
            top              : -5vw;
            background-image : url('../../public/assets/wait-dialog.png');
            background-repeat: no-repeat;
            width            : 100%;
            background-size  : 100% 100%;
            height           : 40vh;
            z-index          : 30;
            transform        : translateY(-5vw);

            @media screen and (min-width:750px) {
                top   : -1vw;
                height: 36vh;
            }
        }

        .next-question {
            position         : absolute;
            left             : 0;
            top              : 42vh;
            background-image : url('../../public/assets/next-question.png');
            background-repeat: no-repeat;
            background-size  : cover;
            width            : 100%;
            aspect-ratio     : 1080/235;
            z-index          : 30;

            @media screen and (min-width:750px) {
                top          : 33vh;
                // max-height: 165px;
            }

            @media screen and (max-height:675px) {
                top: 38vh;
            }

            &.near {
                top: 36vh;
            }
        }

        .result-footer {
            position                     : fixed;
            left                         : 0;
            bottom                       : 0;
            background-image             : url('../../public/assets/result-footer.png');
            background-repeat            : no-repeat;
            background-size              : cover;
            width                        : 100%;
            // height                    : 26vw;
            aspect-ratio                 : 1080/290;
            z-index                      : 30;

            &.near {
                height: 20vw;
            }

            .logo {
                position    : absolute;
                top         : 60%;
                left        : 50%;
                transform   : translate(-50%, );
                width       : 15%;
                aspect-ratio: 184/80;
                z-index     : 35;
            }
        }
    }

}