.party-main {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 100vw;


    .party-bg {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;
        width          : 100%;
    }

    .top-bg {
        width            : 100%;
        height           : 30vh;
        background-image : url('https://tsg-image-1258344700.cos.ap-shanghai.myqcloud.com/v_jialetao/bg_guanjianci_01.png');
        background-repeat: no-repeat;
        background-size  : cover;

    }

    .question-body {
        transform                 : translateY(-16px);
        width                     : 100%;
        box-sizing                : border-box;
        padding                   : 2vh 5vh 0 5vh;
        position                  : relative;
        border-top-left-radius    : 1rem;
        border-top-right-radius   : 1rem;
        background-color          : #fff;
        // min-height             : 50vh;

        .countdown-container {
            text-align: center;
            position  : absolute;
            top       : 0;
            left      : 50%;
            transform : translate(-50%, -50%);
            z-index   : 30;
        }

        .question-section {
            margin-bottom: 2rem;
        }

        .question-tag {
            font-size: 1.2rem;
            color    : #333;
        }

        .question-text {
            font-size: 1.2rem;
            color    : #333;
        }

        /* 选项按钮样式 */
        .option-section {
            margin-top: 1.3rem;

            .option-button {
                display         : flex;
                justify-content : center;
                align-items     : center;
                box-sizing      : border-box;
                width           : 94%;
                padding         : 0.5rem;
                height          : 3.5rem;
                margin          : auto;
                margin-bottom   : 1.3rem;
                font-size       : 1.3rem;
                background-color: #d9e4f8;
                border          : none;
                cursor          : pointer;
                transition      : background-color 0.3s ease-in-out;

                border          : 1px solid rgb(217, 228, 248);
                background-color: rgb(217, 228, 248);
                position        : relative;
                border-radius   : 3rem;

                .option-idx {
                    border-radius   : 50%;
                    width           : 2.2rem;
                    height          : 2.2rem;
                    line-height     : 2.2rem;
                    font-size       : 1.5rem;
                    box-sizing      : border-box;
                    background-color: #fafbfd;
                    text-align      : center;
                    position        : absolute;
                    left            : 3%;
                    top             : 50%;
                    transform       : translateY(-50%);
                }

                .option-name {
                    font-size: 1rem;
                }
            }

            .selected {
                background-color: #ffd843;
                color           : black;
            }

        }


    }

    .submit-button-container {
        background-color: #fff;
        padding         : 0vh 5vh;
        box-sizing      : border-box;
        width           : 100%;
        border          : 1px solid #fff;

        .submit-button {
            display         : block;
            width           : 100%;
            padding         : 0.8rem;
            font-size       : 1.2rem;
            color           : #dbdbdb;
            background-color: #a7a7a7;
            cursor          : pointer;
            border-radius   : 1rem;
            transition      : background-color 0.3s ease-in-out;

            &.selected {
                background-color: #5b5bf1;
                color           : #ffffff;
            }
        }


    }

    .wait-bg {
        display          : flex;
        justify-content  : center;
        align-items      : center;
        flex-direction   : column;
        width            : 100%;
        height           : 100vh;
        text-align       : center;
        background-image : url('../utils/wait.jpg');
        background-repeat: no-repeat;
        background-size  : cover;

        .party-center {
            width           : 90%;
            box-sizing      : border-box;
            position        : relative;
            border-radius   : 16px;
            background-color: #fff;
            min-height      : 30vh;
            color           : #202249;
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-size       : 2rem;
            font-weight     : 500;
        }

        .wait-text {
            text-align : center;
            padding-top: 3vh;
            font-size  : 1.5rem;
            color      : #ffffff;
        }
    }
}