.party-main {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 100vw;
    height         : 100vh;

    .wait-bg {
        width               : 100%;
        aspect-ratio        : 1080/2340;
        max-height          : 100vh;
        background-image    : url('https://timish.woa.com/assets/ok-bg.jpg');
        background-repeat   : no-repeat;
        // background-size  : cover;
        background-size     : 100%;
        position            : relative;

        .next-question {
            position         : absolute;
            left             : 0;
            top              : 74.7%;
            background-image : url('https://timish.woa.com/assets/next-question.png');
            background-repeat: no-repeat;
            background-size  : cover;
            width            : 100%;
            aspect-ratio     : 1080/235;
        }

        // display          : flex;
        // justify-content  : center;
        // align-items      : center;
        // flex-direction   : column;
        // width            : 100%;
        // height           : 100vh;
        // text-align       : center;
        // background-image : url('../assets/bg_guanjianci_01.png');
        // background-repeat: no-repeat;
        // background-size  : cover;

        // .party-center {
        //     width           : 90%;
        //     box-sizing      : border-box;
        //     position        : relative;
        //     border-radius   : 16px;
        //     background-color: #fff;
        //     min-height      : 30vh;
        //     color           : #202249;
        //     display         : flex;
        //     justify-content : center;
        //     align-items     : center;
        //     font-size       : 2rem;
        // }

        // .wait-text {
        //     text-align : center;
        //     padding-top: 3vh;
        //     font-size  : 1.5rem;
        //     color      : #ffffff;
        // }
    }



}